---
import MainLayout from '../layouts/MainLayout.astro';
const title = "Data Protection";
const category = "Products & Services";
---
<MainLayout title={title} category={category}>
  <span>
    We provide solutions to comprehensively protect user data, including user privacy data protection, data storage security, data communication security, data security classification and isolation, user key management, two-factor authentication, and Passwordless authentication.
  </span>
</MainLayout>
