---
import MainLayout from '../layouts/MainLayout.astro';
const title = "Secure Email & VPN";
const category = "Products & Services";
---
<MainLayout title={title} category={category}>
  <p>
    We provide open source email construction services that support anti-spam and anti-virus. Increased data and communication security, this solution allows you to fully control your email data and perform data analysis on emails, allowing you to better understand your company. Gain insights into employees performance and customers needs, and uncover potential business risks.
  </p>
  <ol>
    <li>Postfix, Dovecot, Postgrey, OpenDKIM, OpenDMARC</li>
    <li>Provide open source VPN solutions such as OpenVPN, OpenConnect and WireGuard.</li>
  </ol>
</MainLayout>
